{% extends "base.html" %} 
{% load cms_tags staticfiles %} 

{% block title %}
	{% page_attribute "page_title" %}
{% endblock title %}

{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content_page.css' %}">
{% endblock css_files %}

{% block page_content %} 
    <div class="container">
        <div class="row">
            <div class="content-main-card">
                {% block content %} 
                    {% placeholder "content" %} 
                {% endblock content %}
            </div>
        </div>
    </div>

{% endblock page_content %}


