{% extends "base.html" %} 
{% load cms_tags staticfiles menu_tags%} 

{% block title %}
	{% page_attribute "page_title" %}
{% endblock title %}

{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content_sidebar.css' %}">
{% endblock css_files %}

{% block page_content %} 
    <div class="container">
        <div class="row">
            <div class=" container-fluid content-main-card">
                <div class="row  content-header">
                        {% block heading_text %} 
                            {% placeholder "heading text" %} 
                        {% endblock heading_text %}
                </div>
                <div class="row">
                    <div class="col-sm-4 content-sidebar">
                        <ul class="sidebar-list">
                            {% show_sub_menu 100 None 100 "menu/custom_sub_menu.html" %}
                        </ul>
                    </div>
                    <div class="col-sm-8 content-main-text">
                        {% block content %} 
                            {% placeholder "content" %} 
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

