{% extends "base.html" %} 
{% load cms_tags staticfiles %} 

{% block title %}
  {% page_attribute "page_title" %}
{% endblock title %}

{% block css_files %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
{% endblock css_files %}

{% block navbar %}
{% endblock navbar %}

{% block page_content %}

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <header class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Cover</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>
            </header>
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Cover your page.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>
            <footer class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>

{% endblock page_content %}