/*.nav {
                padding-left: 0;
            }
            .nav li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
            */

body {
    font-family: 'Open Sans', sans-serif;
}

.section-3col-boxes .white-box {
    position: relative;
    margin: 0 0 25px;
    padding-bottom: 25px;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, .2);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.white-box {
    margin: 10px 0 45px;
    padding: 25px;
    background: #fff;
    min-height: 400px;
}

.section-3col-boxes .white-box h2 {
    font-weight: 600;
    margin-top: 5px;
    font-size: 22px;
}

.base-page-wrapper {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.49);
    background: rgb(233, 234, 229) url("https://github.com/cbgaindia/design/blob/master/portal_pages/misc/bg.png");
}
.content-page-outer-wrapper{
    background: rgb(233, 234, 229) url("https://github.com/cbgaindia/design/blob/master/portal_pages/misc/bg.png");
}



@media (min-width: 959px) {
    .section-3col-boxes {
        text-align: center;
    }
    .section-3col-boxes .section-col2 {
        z-index: 2;
        margin: 0 -30px;
    }
    .section-col2 .white-box {
        min-height: 450px;
    }

    .section-3col-boxes .section-col1,
    .section-3col-boxes .section-col3 {
        z-index: 1;
        margin-top: 25px;
    }
}

.content-main-card {
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
    position: relative;
    padding:50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
}